[project]
name = "project"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.13"
dependencies = [
    "gymnasium[atari]>=0.29.0",
    "ale-py>=0.8.0",
    "gymnasium[accept-rom-license]>=0.29.0",
]
